{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">

    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}

    <h1 class="display-4">Login</h1>

        <form method="POST">

            {{form.hidden_tag()}}

                {% for field in form if field.widget.input_type != 'hidden' %}

                <h4>
                    {{field.label}}
                    {{field}}

                    {% for error in field.errors %}
                    {{error}}
                    {% endfor %}

                </h4>
                {% endfor %}


                <button type="submit" class="btn btn-info btn-large" style="width: 25rem;">Login</button>
            </form>
</div>


{% endblock %}