{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="container">



    <h1 class="display-4">Login</h1>

    <form method="POST">

        {{form.hidden_tag()}}

        <table class="table">
            <tbody>
                {% for field in form if field.widget.input_type != 'hidden' %}

                    <tr>
                        <td><b>{{field.label}}</b></td>
                        <td>{{field}}</td>
                    </tr>

                    {% for error in field.errors %}
                        <h4>{{error}}</h4>
                    {% endfor %}

                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-outline-info btn-large btn-block" >Register</button>
    </form>
</div>

{% endblock %}


        <!-- <form method="POST">

            {{form.hidden_tag()}}

                {% for field in form if field.widget.input_type != 'hidden' %}

                <h4>
                    {{field.label}}
                    {{field}}

                    {% for error in field.errors %}
                    {{error}}
                    {% endfor %}

                </h4>
                {% endfor %}


                <button type="submit" class="btn btn-info btn-large" style="width: 25rem;">Register</button>
            </form>
</div> -->